@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #1c2e3d;
}

.topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #111d26;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.topnav p {
    margin: auto 2.5%;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.topnav input[type=month] {
    margin: auto 3%;
    border: none;
    font-size: 22px;

    color-scheme: dark;
    background: transparent;
    color: white;
}

.topnav input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.container {
    width: 95%;
    margin: 5% auto;
    padding-bottom: 1em;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
    margin: 20px 0;
}

.card-top img {
    display: block;
    width: 100%;
}

.card-top iframe {
    display: block;
    width: 100%;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.card-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.card-info h2 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.date {
    margin-bottom: 10px;
}

span, p {
    font-size: 15px;
    display: block;
}

.explanation {
    color: #333333;
}

.card-bottom {
    margin-top: 20px;
}
/*
.button {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #4e4e4e;
    width: 80px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    background: #f2f4f6;
}*/

.get-picture {
    bottom: 0;
    text-decoration: unset;
    color: #000;
    font-weight: 600;
}

.add-display {
    display: block;
}

.notification-container {
    padding: 10px 15px;
    background-color: rgb(130, 151, 190);
    border-radius: 20px;
}

#notify {
    width: 20%;
    position: fixed;
    top: 80px;
    right: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.planet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.planet-loader {
    display: block;
    width: 125px;
    height: 125px;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: linear-gradient(
            180deg,
            rgba(252, 201, 107, 1) 0%,
            rgba(252, 201, 107, 1) 15%,
            rgba(247, 174, 1, 1) 15%,
            rgba(247, 174, 1, 1) 19%,
            rgba(252, 201, 107, 1) 19%,
            rgba(252, 201, 107, 1) 22%,
            rgba(247, 174, 1, 1) 22%,
            rgba(247, 174, 1, 1) 28%,
            rgba(252, 201, 107, 1) 28%,
            rgba(252, 201, 107, 1) 31%,
            rgba(252, 201, 107, 1) 33%,
            rgba(252, 201, 107, 1) 36%,
            rgba(247, 174, 1, 1) 36%,
            rgba(247, 174, 1, 1) 48%,
            rgba(252, 201, 107, 1) 48%,
            rgba(252, 201, 107, 1) 55%,
            rgba(247, 174, 1, 1) 55%,
            rgba(247, 174, 1, 1) 66%,
            rgba(252, 201, 107, 1) 66%,
            rgba(252, 201, 107, 1) 70%,
            rgba(247, 174, 1, 1) 70%,
            rgba(247, 174, 1, 1) 73%,
            rgba(252, 201, 107, 1) 73%,
            rgba(252, 201, 107, 1) 82%,
            rgba(247, 174, 1, 1) 82%,
            rgba(247, 174, 1, 1) 86%,
            rgba(252, 201, 107, 1) 86%
    );
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5),
    inset 20px -5px 12px #f7ae01,
    0 0 100px rgba(255, 255, 255, 0.35);
    transform: rotateZ(-15deg);
}

.planet-loader::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #7b6f42;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b1a693;
    animation: rings1 0.8s infinite linear;
}

.planet-loader::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #b1a693;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #7b6f42;
    animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
    0% {
        transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }
    100% {
        transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
}

@keyframes rings2 {
    0% {
        transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }
    100% {
        transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
}
